h1,
p,
td,
label
input {
    font-family: "Andale Mono";
}

h1 {
    text-align: center;
}

#container {
    width: 980px;
    margin: 50px auto;
}

form {
    margin-top: 100px;
    text-align: center;
}

#page {
    width: 400px;
}

#btn {
    width: 100px;
}

table {
    margin-top: 50px;
}